<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "meta.html" . }}
        <link href="https://fonts.googleapis.com/css?family=Lato|Varela+Round" rel="stylesheet">
        <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" type="text/css" media="all" />
    </head>

    <body>
        <div class="header">
            <div class="container">
                {{ if .IsPage }}
                <h1 class="title">
                    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                </h1>
                {{ else }}
                <h1 class="title">
                    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                </h1>
                {{ with .Site.Params.subtitle }}
                <p class="subtitle">
                    {{ . }}
                </p>
                {{ end }}
                {{ end }}
            </div>
        </div>

        <div class="container">
            {{ block "main" . }}
            {{ end }}
        </div>

        <div class="container">
            <footer class="footer">
                footer
            </footer>
        </div>
    </body>
</html>
