{{ define "title" }}{{ .Title }} | {{ end }}

{{ define "main" }}
<div class="terms">
    <h1 class="title">{{ .Title }}</h1>

    <ul>
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms }}
        <li>
            <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }}</a> ({{ len $value }})
            <ul>
                    {{ range first 5 $value.Pages.Reverse }}
                <li><a href="{{ .URL }}">{{ .LinkTitle }}</a></li>
                    {{ end }}
            </ul>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
