// base color
title             =#444552

subtitle          =#5B697C
accent            =#EFA718
text              =#444552
background        =#F0F3ED

bar1              =#E94858
bar2              =#F3A32A
bar3              =#82BF6E
bar4              =#3CB4CB
bar5              =#16434B

// social color
color-facebook    =#365397
color-twitter     =#00a9f1
color-linkedin    =#006db3
color-apple       =#737373
color-google      =#4285f4
color-plus-google =#e0452c
color-youtube     =#ff3333
color-vimeo       =#48b6ed
color-pinterest   =#ce1a19
color-yelp        =#c30f00
color-dribbble    =#ed4584
color-amazon      =#ff9700
color-ebay        =#083790
color-skype       =#00acf4
color-instagram   =#396d9a
color-dropbox     =#0d84de
color-flickr      =#ea0066
color-github      =#2f2f2f
color-basecamp    =#6bbd6d
color-tumblr      =#304c68
color-foursquare  =#207dc5
color-box         =#1277bc
color-pocket      =#ee4256
color-hatena      =#586CEA
color-sms         =#00da00

// font
font-header       ='Concert One', sans-serif;
font-article      =-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
font-code         =Menlo, consolas, monospacex

screen-sm = 768px
screen-md = 992px
screen-lg = 1200px

breakpoint(bpName)
    for name in bpName
        if name == 'sm'
            @media only screen and (min-width: screen-sm)
                {block}
        if name == 'md'
            @media only screen and (min-width: screen-md)
                {block}
        if name == 'lg'
            @media only screen and (min-width: screen-lg)
                {block}
        if name == 'sm-up'
            @media only screen and (max-width: screen-sm)
                {block}
        if name == 'md-up'
            @media only screen and (max-width: screen-md)
                {block}
        if name == 'lg-up'
            @media only screen and (max-width: screen-lg)
                {block}
