// color variables
deepblue = #02547D
midblue = #0284A8
seablue = #02BEC4
lightblue  = #A9E8DC
highlightblue = #E1F7E7

text = #1D2B3B
background = #f5f5f5
yellow = #EFA718
gray = #9B9C9D

html
  font-size: 16px

a
  color: text
  text-decoration: none

body
  color: text
  background: background

.container
  width: 100%
  max-width: 800px
  margin: 0 auto
