// base color
title             =#444552

subtitle          =#5B697C
accent            =#EFA718
text              =#444552
background        =#F0F3ED

bar1              =#E94858
bar2              =#F3A32A
bar3              =#82BF6E
bar4              =#3CB4CB
bar5              =#16434B

// social color
color-facebook    =#365397
color-twitter     =#00a9f1
color-linkedin    =#006db3
color-apple       =#737373
color-google      =#4285f4
color-plus-google =#e0452c
color-youtube     =#ff3333
color-vimeo       =#48b6ed
color-pinterest   =#ce1a19
color-yelp        =#c30f00
color-dribbble    =#ed4584
color-amazon      =#ff9700
color-ebay        =#083790
color-skype       =#00acf4
color-instagram   =#396d9a
color-dropbox     =#0d84de
color-flickr      =#ea0066
color-github      =#2f2f2f
color-basecamp    =#6bbd6d
color-tumblr      =#304c68
color-foursquare  =#207dc5
color-box         =#1277bc

// font
font-header       ='Concert One', sans-serif;
font-article      =-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
font-code         =Menlo, consolas, monospacex

html
  font-family: font-article
  font-size: 16px

a
  color: text
  text-decoration: none

body
  color: text
  background: background

.container
  width: 100%
  max-width: 800px
  margin: 0 auto
