base-article()
  padding: 1.5rem
  margin: 0.5rem 0.1rem
  border-radius: 4px
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  background: white
  header
    font-weight: bold
    h2
      font-family: font-article
      font-size: 1.7rem
      margin: 0.5rem 0
    .post-meta
      color: accent
      font-size: 0.9rem
      margin: 0 0 1rem 0

.header
  text-decoration: none
  background: background
  font-family: font-header
  padding: 1.5rem 0rem
  .container
    .title
      font-size: 2.4rem
      margin: 0
      a{ color: title }
    .subtitle
      margin: 0.5rem 0 1rem 0
      color: text
      font-size: 1rem
    separater(bg)
      height: 0.3rem
      width: 6rem
      float: left
      opacity: 0.8
      background: bg
    .separater
      float: left
      margin-left: 0.05rem
      for x in (1..5)
        .bar{x}
          separater: (bar + x)

.footer
  text-align: center
  margin: 2rem 0

.summary
  base-article: 0
  article
    margin: 0.5rem
  footer
    a{ color: text }
    text-align: right

.post
  base-article: 0
  article
    h2
      font-size: 1.6rem
      padding: 1rem 0 0.5rem
      border-bottom: 2px solid background
    h2:first-child
      margin-top: 0
    h3
      color: accent
    h4
      border-left: solid .25rem deepblue
      padding: 0 .5rem
    p
      margin: 1.5rem 0
      line-height: 1.5rem
    a
      text-decoration: underline
    ul,ol
      padding-left: 1.5rem
    code
      display: inline-block
      font-family: font-code
      font-size: .8rem
      padding: 0 .5rem
      line-height: 1.5rem
    pre
      margin: 1.5rem 0
      padding: 1.5rem
      font-size: .8rem
      background-color: #263238
      color: #fff
      overflow: auto
      code
        background-color: transparent
    blockquote
      margin: 1.5rem
      padding: .5rem 0
      font-size: .8rem
      border-top: 1px solid #eceff1
      border-bottom: 1px solid #eceff1
      color: #607d8b
      p
        margin: .5rem 0
        line-height: 1rem
    strong
      box-shadow: 0 -.5rem 0 0 #f06292 inset
    em
      font-style: normal
      font-weight: 700
      color: #ff5722

.social
  margin: -2.1rem -0.2rem
  float: right
  li
    list-style: none
    font-size: 1.5rem
  social-icon(bg)
    height: 2.4rem
    width: 2.4rem
    border-radius: 6px
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    background: bg
  .fa-twitter
    social-icon: color-twitter
  .fa-github
    social-icon: color-github
  .fa-linkedin
    social-icon: color-linkedin
  .fa-facebook
    social-icon: color-facebook

.paginator
    text-align: center
    margin: 1rem
    font-size: 1.1rem
    .pagenumber
      margin: 0 1.5rem
      line-height: 10px
