{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="paginator">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}" rel="prev" class="prev"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></a>
    {{ end }}
    <span class="pagenumber">{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}</span>
    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" rel="next" class="next"><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></a>
    {{ end }}
</nav>
{{ end }}
