<ul class="share">
    <li><a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" title="hatena" class="hatena" target="_blank" rel="nofollow">hatena</a></li>
    <li><a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" title="Facebook" class="facebook" target="_blank" rel="nofollow">facebook</a></li>
    <li><a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" title="twitter" class="twitter" target="_blank" rel="nofollow">twitter</a></li>
    <li><a href="https://plus.google.com/share?url={{ .Permalink }}" title="Google Plus" class="googleplus" target="_blank" rel="nofollow">google+</a></li>
    <li><a href="http://getpocket.com/edit?url={{ .Permalink }}" title="Pocket" class="pocket" target="_blank" rel="nofollow">pocket</a></li>
    <li><a href="sms:?body={{ .Permalink }}" title="SMS" class="sms" target="_blank" rel="nofollow">sms</a>
</ul>
