// color variables
deepblue = #02547D
midblue = #0284A8
seablue = #02BEC4
lightblue  = #A9E8DC
highlightblue = #E1F7E7

text = #3D3C39
background = #F0F0F1
red = #FF5349
navy = #292C44

a
  color: text
  text-decoration: none

body
  color: midblue
  background: background

.container
  width: 1024px
  color: text
  margin: 0 auto