.header
  text-decoration: none
  background: background
  font-family: 'Varela Round', sans-serif
  padding: 10px
  margin: 0 auto
  margin-left: 10px
  .container .title
    font-size: 30px
    a{ color: deepblue }
  .container .subtitle
    font-size: 18px

.post
  padding: 30px
  margin: 10px 0 0 10px
  border-radius: 4px
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: white
  header
    font-weight: bold
    h2
      font-size:26px
      margin: 5px 0 5px 0
    .post-meta
      color: deepblue
      font-size:17px
      margin: 7px 0 7px 0
  summary
    margin: 10px 0 10px 0
  footer
    a{ color: seablue }
    text-align: right